* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', 'Roboto', 'san-serif';
    font-weight: normal;
    color: #141414;
}

head {
    position: fixed;
}

a {
    text-decoration: none;
}

.nav, .nav-links {
    display: flex;

}

.nav {
    justify-content: space-between;
    padding: 0.8rem;
    max-width: 80%;
    margin: 0 auto;
}

.nav-links {
    list-style-type: none;
    gap: 2.5rem;
    align-self: center;
}

.link {
    color: #141414;
}

.login {
    gap: 1.5rem;
}

.btn-design {
    color: white;
    background-color: #0065FE;
    border-radius: 100px;
    padding: 0.75rem 1.5rem;
}
.blue-txt {
    color: #0065FE;
}

#my-urls {
    margin-top: 4rem;
}

.hero {
    max-width: 59.25rem;
    margin: 0 auto;
}

.hero-txt {
    font-size: 3rem;
    font-weight: 900;
    line-height: 6rem;
    text-align: center;
}

.hero-desc {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.hero-links {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    margin-top: 3rem;
}

.hero-sign-up, .hero-learn-more {
    align-self: center;
}

.hero-images {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
}

.hero-images .vector-img {
    position: absolute;
    z-index: -1;
    top: -15%;
}

.hero-images-div {
    background-color: rgba(254, 254, 254, 0.10);
    backdrop-filter: blur(106px);
    padding: 2.5rem 3.75rem;
    border: 0.5px solid #005AE2;
    border-radius: 25px;
    text-align: center;
    z-index: 1;
}

.features-top, .features-top-details {
    display: flex;
    align-self: center;
}

.features-top {
    background-color: #F9FBFD;
    padding: 3rem 8.75rem;
    margin-top: -3px;
    gap: 7.5rem;
}

.features-top-details {
    gap: 4.5rem;
}